<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 table white-letters">
            <h2>Title</h2>
            <h2 id="listenMargin">Listen</h2>
        </div>
    </div>
    <div class="row">
            {{#each tracks}}
                <div class="col-md-12 table black-background">
                        <h3 class="white-letters">{{name}}</h3>
                        <audio controls>
                            <source src="{{preview_url}}" type="audio/mpeg">
                        </audio>
                </div>
            {{/each}}
    </div>
</div>